<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>

</head>
<body>
    <%- include('includes/navbar') %>

    <main>
        <h2>
            Edit your report
        </h2>
        <form action="/track/<%= report.id %>/edit" method="POST">
            <input type="text" value="<%= report.title %>" name="title" placeholder="name" /><br />
            <input type="text" value="<%= report.description %>" name="description" placeholder="detail" /><br />
            <input type="submit" value="submit">
          </form>
    </main>
</body>
</html>