<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
    <%- include('includes/navbar') %>


<div class="trackbody">
    <h1>
        <img class="bonus" src="/bonus.png" width="80px" height="80px">
    </h1>
    <h2 class="tracktext"> 
        Your report was successfully submitted.
        <br>
        You recieved 50 bonus points.
    </h2>
</div>
<div class="progress-container">
    <div class="step">
        <div class="circle">
            <img src="/icon1.png" alt="Received">
        </div>
        <div class="label">Received</div>
    </div>
    <div class="line"></div>
    <div class="step">
        <div class="circle">
            <img src="/icon2.png" alt="In Process">
        </div>
        <div class="label">In Process</div>
    </div>
    <div class="line"></div>
    <div class="step">
        <div class="circle">
            <img src="/icon3.png" alt="Processed">
        </div>
        <div class="label">Processed</div>
    </div>
</div>
<br>
<div class="report-section">
    <ul>
    <% reports.forEach(report => { %>
        <li class="report-card">
            <div>
            <div>
            <img class="report-img" src="/seo-report.png">
            </div>
            Name: <%= report.name %>
            <br>
            Slug: <%= report.slug %>
            <br>
            Detail: <%= report.detail %>
            <br>
            <form action="/track/<%= report.slug %>/edit" method="GET" style="display:inline;">
                <button class="edit" type="submit">Edit</button>
              </form>
              <form action="/track/<%= report.slug %>/delete" method="POST" style="display:inline;">
                <button class="delete" type="submit">Delete</button>
              </form>
            </div>
        </li>
    <% }); %>
    </ul>
</div>
<div class="simloc">
    <img src="/map.png" alt="Map" width="40%">
</div>
<h3 class="simloctext">
    234 more similar reports in your area.
</h3>    
<script src="/script.js"></script>

</body>
</html>